

<a href="#" class="list-group-item list-group-item-action flex-column align-items-start active" style="margin-bottom:10px">
    <div style="padding-left: 10%;padding-right: 10%;">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1 text-center">Aca va la pregunta</h5>
            <small>Aca va la fecha</small>
        </div>
        <small>Numero de visitas</small>
        <p class="mb-1">Aca asdasda quien la realizo</p>
    </div>
</a>
