<%= render 'filtro' %>

<%flash[:auxVerPerfil] = nil%>
<div class="row" style="padding-left: 10%;padding-right: 10%;margin-top: 25px;padding-top: 2%;">
  <div class="list-group" style="overflow: auto;width: 70%;margin:auto">
  <% if flash[:message] != nil %>

          <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
          <div class="w3-panel w3-blue w3-display-container" style="margin-top: 50px;">
          <span onclick="this.parentElement.style.display='none'"class="w3-button w3-blue w3-large w3-display-topright">&times;</span>
          <h4  class="mb-1 text-center">Atención!</h4>
          <br>
          <p class="mb-1 text-center"><%= flash[:message] %></p>
          <%flash[:message]=nil%>
          </div>
    <% end %>
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Modal title</h4>
          </div>
          <div class="modal-body">
            ...
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div>
    <% @questions.order(created_at: :DESC).each do |question| %>
    <% @question=question %>
    <%= render 'question'  %>
    <% end %>
  </div>
</div>
