<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<div class="w3-panel w3-<%=@color%> w3-display-container" style="margin-top: 50px;">
  <span onclick="this.parentElement.style.display='none'"class="w3-button w3-<%=@color%> w3-large w3-display-topright">&times;</span>
  <h4 class="mb-1 text-center">Atención!</h4>
  <br>
  <p class="mb-1 text-center"><%= flash[:message] %></p>
  <%$recargar=nil%>
  <%flash[:message]=nil%>
</div>
<%@color=nil%>