

<script type="text/javascript">
function Mostrar(level_id)
{
    formUpdate= "formUpdate" + level_id;
    if(document.getElementById(formUpdate).style.display!="block")
      document.getElementById(formUpdate).style.display="block"
    else
      document.getElementById(formUpdate).style.display="none"
}
</script>




<div class="cointaner" style="padding:50px;width:80%;margin:auto">
  <% if flash[:message] != nil %>
    <% if (flash[:message] == "El nivel se actualizo")|| (flash[:message] == "Se creo el nivel correctamente") %>
      <% @color="green" %>
    <%else%>
      <% @color="red" %>
    <%end%>
    <%= render '/mensaje/mensaje'  %>
  <% end %>

  <ul class="list-group" style="">

    <%@levels.where(activo: true).order(:puntos).each do |level|%>

      <% @level=level %>
      <%= render 'level'  %>

    <%end%>

    <% if session[:user_id] != 0 %>

      <li class="list-group-item">

        <div class="form-group" style="width:40%;padding:20px">

          <form class="form-inline" action="/levels/create" method="post">

            <label for="nombre">Nombre:</label>
            <input type="text" class="form-control" name="nombre" id="nombre" required style="text-transform: capitalize;margin:10px" pattern="[A-Za-z0-9]+" title="Solo letras y Numeros">
            <br>

            <label for="puntos">Puntos</label>
            <input type="number" class="form-control" name="puntos" id="puntos" style="margin:10px" required>
            <input class="btn btn-lg btn-primary btn-block" type="submit" style="margin-top: 20px;" value ="Crear Nivel">

          </form>

          </div>


      </li>

    <%end%>

  </ul>

</div>
