

<script type="text/javascript">
function Mostrar(level_id)
{
    formUpdate= "formUpdate" + level_id;
    if(document.getElementById(formUpdate).style.display!="block")
      document.getElementById(formUpdate).style.display="block"
    else
      document.getElementById(formUpdate).style.display="none"
}
</script>




<div class="cointaner" style="padding:50px;width:60%;margin:auto">
  <% if flash[:message] != nil %>
    <% if (flash[:message] == "El nivel se actualizo")|| (flash[:message] == "Se creo el nivel correctamente") %>
      <% @color="green" %>
    <%else%>
      <% @color="red" %>
    <%end%>
    <%= render '/mensaje/mensaje'  %>
  <% end %>

  <ul class="list-group" style="">

    <%@levels.where(activo: true).order(:puntos).each do |level|%>

      <% @level=level
         arregloFuncionalidades=LevelFunctionality.all.where(level_id: level.id).select(:functionality_id)
         @funcionalidades = Functionality.all.where(id:arregloFuncionalidades).order(:id)
      %>
      <%= render 'level'  %>



    <%end%>

    <% if session[:user_id] != 0 %>

      <% @functionalities = Functionality.all %>
      <%= render 'newLevel'  %>

    <%end%>

  </ul>

</div>
