// Place all the styles related to the Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.columna {
padding: 50;
margin: 50;
}
.tam {
color: #0e875b;
}
.columna {
}
.navIR {
  font-size: 18px;
}
